<% @page_title = "Admin Login" %>
<div class="login">
  <%= form_for(:access, url: login_path) do |f| %>
  <table>
    <tr>
      <td><%= f.label (:username) %></td>
      <td><%= f.text_field(:username) %></td>
    </tr>
    <tr>
      <td><%= f.label(:password) %></td>
      <td><%= f.password_field(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>

