<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for @section, url: sections_path do |f| %>
    <%= render partial: "form", locals: {f: f} %>
    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>

  <% end %>
</div>