<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="pages delete">
  <h2>Delete Page</h2>

  <%= form_for @page, :url pages_path do |f| %>

    <p>Are you sure you want to permanently delete this page?</p>

    <p class="reference-name"><%= @page.name %></p>

    <div class="form-buttons">
      <%= f.submit ("Delete Page") %>
    </div>

  <% end %>
</div>
