<div class="pages index">
  <h2>Pages</h2>

  <%= link_to("Add New Page", new_page_path, :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Subject</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.position %></td>
      <td><%= page.subject.name if page.subject %></td>
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td class="center"><%= page.sections.size ? 'Yes' : 'No' %></td>
      <td class="actions">
        <%= link_to("Show",    page_path(page),      :class => 'action show') %>
        <%= link_to("Edit",    edit_page_path(page), :class => 'action edit') %>
        <%= link_to("Destroy", page_path(page),     method: :delete ) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
