<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Pages</h2>

 
  <%= form_for @page, url: pages_path do |f| %>
    <%= render partial: "pages/form", locals: {f: f} %>
    <div class="form-buttons">
      <%= f.submit("Create Page") %>
    </div>

  <% end %>
</div>

