<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>
  <%= form_for @subject, url: subject_path do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %> <!--- form table  --->
   <div class="form-buttons">
    <%= f.submit ("Update Subject") %>
   </div>
  <% end %>
</div>
