<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>
  <%= form_for @subject, url: subjects_path do |f| %>
    <%= render(partial: "form", locals: {f: f}) %>
    <div class="form-buttons">
      <%= f.submit ("Create Subject") %>
    </div>
    
  <% end %>
</div>

