<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <!----- BEFORE YIELD ---->
    
    <%= yield %>
    
  <!----- AFTER YIELD ---->
  
  </body>
</html>


